*{margin: 0px; padding: 0px}
a{text-decoration: none;}
img{max-width: 100%;}
.navbar-default .navbar-nav>li>a{
    color: #FFF;
}
.dropdown-menu{
    background: #80bc12;
    border-radius: 0;
    box-shadow: none;
}
.dropdown-menu>li>a:focus .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    color: #FFF;
    background-color: #80bc12;
}
.dropdown-menu>li>a {
    color: #FFF;
}
.form-control{
    height: 45px;
}